body {
    text-align: center;
    background-color: #FFE6EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition-property: background-color;
    transition-duration: 4000ms;
}

.dark {
    background-color: #660022;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    color: #660022;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    opacity: 1;
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 2750ms;
}

.headerweg {
    opacity: 0;
    margin: 0;
}

header p {
    margin: 15px;
    font-size: 18px;
    transition-property: all;
    transition-duration: 1000ms;
}

.headerweg p {
    transform: translateX(2000px);
}

header li {
    transition-property: all;
    transition-duration: 1000ms;
}

header li:nth-child(1) {
    transition-delay: 250ms;
}

header li:nth-child(2) {
    transition-delay: 500ms;
}

header li:nth-child(3) {
    transition-delay: 750ms;
}

header li:nth-child(4) {
    transition-delay: 1000ms;
}

header li:nth-child(5) {
    transition-delay: 1250ms;
}

header li:nth-child(6) {
    transition-delay: 1500ms;
}

.headerweg li:nth-child(odd) {
    transform: translateX(-1200px);
}

.headerweg li:nth-child(even) {
    transform: translateX(2000px);
}

button {
    background-color: #FF0055;
    color: #330011;
    font-family: cursive;
    font-size: 50px;
    padding: 15px;
    margin: 15px;
    transition-property: all;
    transition-duration: 1000ms;
    transition-delay: 1750ms;
    cursor: pointer;
}

.headerweg button {
    font-size: 1px;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knoppen {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.knop {    
    border: solid 2px #FF0055;
    border-radius: 5px;
    background-color: #FF6699;    
    text-align: center;
    padding: 10px;
    transition-property: opacity;
    transition-duration: 1500ms;
    opacity: 0;
    width: 200px;
    height: 200px;
}

.knop p {
    font-family: 'Train One', cursive;
    font-size: 96px;
    color: #330011;
    margin: 0;
    margin-top: 25px;
}

.knop div {
    font-family: 'Codystar', cursive;
    font-size: 30px;
    color: #FF6699;
    margin: 0;
}

.knop:hover {
    background-color: #FF99BB;    
    border-color: #FF3377;
    cursor: pointer;
}

.knop:hover p {
    color: #660022;
}

.knop:hover div {
    color: #330011;
}

#twee {
    transition-delay: 250ms;
}

#drie {
    transition-delay: 500ms;
}

#vier {
    transition-delay: 750ms;
}

#vijf {
    transition-delay: 1000ms;
}

#zes {
    transition-delay: 1250ms;
}

.knopaan .knop {
    opacity: 1;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    color: #80002A;
    margin: 10px;
}

.hondenfoto {
    border: solid 8px #FF6696;
    border-radius: 20px;
    background-color: #FFCCDC;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.hondenfoto img {
    width: 350px;
    border-radius: 10px;
}

.hondenfoto p {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #FF0055;
}

.grappenmaker {
    font-family: 'Sacramento', cursive;
    font-size: 64px;
    color: #FF0055;
    margin: 50px 20px;
    width: 75vw;
}

.gerecht {
    background-color: #FF0055;
    padding: 15px;
    margin: 20px 0;
}

.gerecht h2 {
    color: #FFCCDC;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.gerecht img {
    width: 80vw;
}

.gerecht div {
    width: 80vw;
    background-color: #FF3377;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #660022;
    font-size: 20px;
    padding: 15px 0;
    margin: 10px;
}

.gerecht h3 {
    font-size: 22px;
    text-decoration-style: double;
}

.gerecht a {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #FF99BB;
}

.gerecht a:hover {
    color: #FFB3CC;
    font-size: 41px;
}

.datumweetje p {
    width: 75vw;
    margin: 40px;
    color: #FF3377;
    font-size: 20px;
    font-family: 'Mukta', sans-serif;
}

.datumweetje div {
    width: 80vw;
    margin: 20px;
    color: #FFB3CC;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    line-height: 1.5;
}

.kattenfoto {
    max-width: 90vw;
    background-color: #FF3377;
    border: solid 5px #FF0055;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.kattenfoto img {
    height: 300px;
    border: solid 2px #330011;
    border-radius: 10px;    
}

.fotos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 15px;
}

.nasafoto {
    background-color: #80002A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.nasafoto h1 {
    font-size: 40px;
    font-family: fantasy;
    color: #FF0055;
    margin: 10px;    
}

.nasafoto h2 {
    color: #FFCCDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    font-size: 20px;
}

.nasafoto img {
    width: 60vw;
}

.nasafoto div {
    color: #FF6696;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    width: 60vw;
    text-align: left;
}

@media(min-width: 800px) {
    .ingredienten {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 85vw;
    }
    .ingredienten img {
        width: 60vw;
    }
    .ingredienten div {
        width: 30vw;
        margin: 0 10px;
        padding: 0;
    }
}
