body {
    text-align: center;
    background-color: #FFE6EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    transition-property: background-color;
    transition-duration: 4000ms;
}

.startscherm {
    overflow-y: hidden;
}

.dark {
    background-color: #660022;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
    color: #660022;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    opacity: 1;
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 2750ms;
}

.headerweg {
    opacity: 0;
    margin: 0;
}

header p {
    margin: 15px;
    font-size: 18px;
    transition-property: all;
    transition-duration: 1000ms;
}

.headerweg p {
    transform: translateX(2000px);
}

header li {
    transition-property: all;
    transition-duration: 1000ms;
}

header li:nth-child(1) {
    transition-delay: 250ms;
}

header li:nth-child(2) {
    transition-delay: 500ms;
}

header li:nth-child(3) {
    transition-delay: 750ms;
}

header li:nth-child(4) {
    transition-delay: 1000ms;
}

header li:nth-child(5) {
    transition-delay: 1250ms;
}

header li:nth-child(6) {
    transition-delay: 1500ms;
}

header li:nth-child(7) {
    transition-delay: 1750ms;
}

header li:nth-child(8) {
    transition-delay: 2000ms;
}

header li:nth-child(9) {
    transition-delay: 2250ms;
}

header li:nth-child(10) {
    transition-delay: 2500ms;
}

.headerweg li:nth-child(odd) {
    transform: translateX(-1200px);
}

.headerweg li:nth-child(even) {
    transform: translateX(2000px);
}

button {
    background-color: #FF0055;
    color: #330011;
    font-family: cursive;
    font-size: 50px;
    padding: 15px;
    margin: 15px;
    transition-property: all;
    transition-duration: 1250ms;
    transition-delay: 2750ms;
    cursor: pointer;
}

.headerweg button {
    font-size: 1px;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#knoppen {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.knop {    
    border: solid 2px #FF0055;
    border-radius: 5px;
    background-color: #FF6699;    
    text-align: center;
    padding: 10px;
    transition-property: opacity;
    transition-duration: 1500ms;
    opacity: 0;
    width: 100px;
    height: 100px;
}

.knop p {
    font-family: 'Train One', cursive;
    font-size: 60px;
    color: #330011;
    margin: 0;
}

.knop div {
    font-family: 'Codystar', cursive;
    font-size: 18px;
    color: #FF6699;
    margin: 0;
}

.knop:hover {
    background-color: #FF99BB;    
    border-color: #FF3377;
    cursor: pointer;
    transform: scale(1.05);
}

.knop:hover p {
    color: #660022;
}

.knop:hover div {
    color: #000000;
}

#twee {
    transition-delay: 250ms;
}

#drie {
    transition-delay: 500ms;
}

#vier {
    transition-delay: 750ms;
}

#vijf {
    transition-delay: 1000ms;
}

#zes {
    transition-delay: 1250ms;
}

#zeven {
    transition-delay: 1500ms;
}

#acht {
    transition-delay: 1750ms;
}

#negen {
    transition-delay: 2000ms;
}

#tien {
    transition-delay: 2250ms;
}

.knopaan .knop {
    opacity: 1;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    color: #80002A;
    margin: 10px;
}

.uitleg {
    width: 60vw;
    margin-top: 50px;
    color: #660022;
    font-size: 24px;
    transition-property: all;
    transition-duration: 2500ms;
}

.start .uitleg {
    color: #FF0055;
}

.link {
    width: 60vw;
    font-size: 3px;   
    transform: translateY(500px); 
    transition-property: all;
    transition-duration: 2500ms;
}

.start .link {
    transform: translateY(0px);
    font-size: 30px;
}

.link a:link {
    text-decoration: none;
    color: #FFE6EE;
}

.link a:visited {
    color: #FFE6EE;
}

.link a:hover {
    color: #FFB3CC;
    font-size: 32px;
}
