.gerecht {
    background-color: #FF0055;
    padding: 15px;
    margin: 20px 0;
}

.gerecht h2 {
    color: #FFCCDC;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
}

.gerecht img {
    width: 80vw;
}

.gerecht div {
    width: 80vw;
    background-color: #FF3377;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #660022;
    font-size: 20px;
    padding: 15px 0;
    margin: 10px;
}

.gerecht h3 {
    font-size: 22px;
    text-decoration-style: double;
}

.gerecht a {
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
    color: #FF99BB;
}

.gerecht a:hover {
    color: #FFB3CC;
    font-size: 41px;
}

.datumweetje {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datum {
    width: 75vw;
    margin: 40px;
    color: #FF3377;
    font-size: 25px;
    font-family: 'Mukta', sans-serif;
}

.datumweetje div {
    width: 80vw;
    margin: 20px;
    color: #FFB3CC;
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    line-height: 1.5;
}

.uitleg {
    width: 60vw;
    margin-top: 50px;
    color: #FF0055;
    font-size: 20px;
}

.link {
    width: 60vw;
    font-size: 22px;
}

.link a:link {
    text-decoration: none;
    color: #FFE6EE;
}

.link a:visited {
    color: #FFE6EE;
}

.link a:hover {
    color: #FFB3CC;
}

.nasafoto {
    background-color: #80002A;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
}

.nasafoto h1 {
    font-size: 40px;
    font-family: fantasy;
    color: #FF0055;
    margin: 10px;    
}

.nasafoto h2 {
    color: #FFCCDC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    font-size: 20px;
}

.nasafoto img {
    width: 60vw;
}

.nasafoto video {
    width: 60vw;
}

.nasafoto iframe {
    width: 60vw;
    height: 60vw;
}

.nasafoto div {
    color: #FF6696;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px;
    width: 60vw;
    text-align: left;
}

.wereldplaats {
    margin-top: 60px;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    color: #FFE6EE;
    width: 75vw;
    line-height: 1.5;
}


@media(min-width: 800px) {
    .ingredienten {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 85vw;
    }
    .ingredienten img {
        width: 60vw;
    }
    .ingredienten div {
        width: 30vw;
        margin: 0 10px;
        padding: 0;
    }
}
